.product-samples-section {
    color: black;
}

.product-samples-header {
    width: 85%;
    font-size: 1.8rem;
    margin: 3rem auto;
}

.samples-box {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}

.product {
    background-color: #fcfcfc;
    border: 1px solid whitesmoke;
    width: 30%;
    border-radius: 0.3rem;
}

.product1 { margin: 0 1rem 1rem 0; }
.product2 { margin: 0 1rem 1rem 1rem; }
.product3 { margin: 0 0 1rem 1rem; }
.product4 { margin: 1rem 1rem 0 0; }
.product5 { margin: 1rem 1rem 0 1rem; }
.product6 { margin: 1rem 0 0 1rem; }

.product i {
    display: inline-block;
    margin: 1rem;
    font-size: 0.9rem;
    color: #d8055a;
}

.img-frame {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.product img {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
}

.quantity {
    margin: 0.3rem 1rem 0.3rem 1rem;
}

.product label {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.3rem 0.7vw 0.3rem 0.5vw;
    border: 1px solid lightgray;
    border-radius: 1rem;
    transition: all 0.3s;
}

.product input[type="radio"] {
    display: none;
}

.product input[type="radio"]:checked + label {
    border: 2px solid #55bf00;
}

.product span {
    display: block;
    font-weight: 600;
    margin: 0.7rem 1rem 0.7rem 1rem;
}

.price-span {
    margin: 0 1rem 0.5rem 1rem;
}

.price-span i {
    font-size: 1rem;
    margin: 0;
}

.show-more-btn {
    width: 15rem;
    text-align: center;
    color: white;
    background-color: #d8055a;
    border-radius: 2rem;
    padding: 0.7rem 0;
    margin: 2rem auto;
    cursor: pointer;
}